/CMakeCache.txt
/build*/
/tooltime_*/
/ToolTime_*/
/ToolTime_*/build/
!/ToolTime_mac/
/ToolTime_mac/*
!/ToolTime_mac/bin/
/ToolTime_mac/bin/*
!/ToolTime_mac/bin/SolveSpace.app/
!/ToolTime_mac/bin/SolveSpace.app/**
!/ToolTime_win/
/ToolTime_win/*
!/ToolTime_win/bin/
/ToolTime_win/bin/*
!/ToolTime_win/bin/*.exe
!/ToolTime_win/bin/*.dll
!/ToolTime_win_ucrt64/
/ToolTime_win_ucrt64/*
!/ToolTime_win_ucrt64/bin/
/ToolTime_win_ucrt64/bin/*
!/ToolTime_win_ucrt64/bin/*.exe
!/ToolTime_win_ucrt64/bin/*.dll
!/ToolTime_win_ming32/
/ToolTime_win_ming32/*
!/ToolTime_win_ming32/bin/
/ToolTime_win_ming32/bin/*
!/ToolTime_win_ming32/bin/*.exe
!/ToolTime_win_ming32/bin/*.dll
!/ToolTime_win_msvc/
/ToolTime_win_msvc/*
!/ToolTime_win_msvc/bin/
/ToolTime_win_msvc/bin/*
!/ToolTime_win_msvc/bin/*.exe
!/ToolTime_win_msvc/bin/*.dll
/test/**/*.diff.*
/test/**/*.curr.*
*.trace
/debian/tmp/
/debian/*.log
/debian/*.substvars
/debian/*.debhelper
/debian/files
/debian/solvespace/
/debian/libslvs1/
/debian/libslvs1-dev/
/obj-*/
/*.slvs
.playwright-mcp/

# Local macOS SDK / osxcross safety guards
/sdk*/
/osxcross*/
/*.sdk

# Visual Studio
out/
.vs/
CMakeSettings.json

# OS
._*
.DS_Store
~$*
Thumbs.db
